[submodule "QuantumEngine/vendor/spdlog"]
	path = QuantumEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "QuantumEngine/vendor/GLFW"]
	path = QuantumEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "QuantumEngine/vendor/imgui"]
	path = QuantumEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
[submodule "QuantumEngine/vendor/glm"]
	path = QuantumEngine/vendor/glm
	url = https://github.com/g-truc/glm.git

